<form method="POST" action="{% url 'accounts:login' %}">
    {% csrf_token %}
    <label for="username">Username</label>
    <input type="text" name="username" required><br>

    <label for="password">Password</label>
    <input type="password" name="password" required><br>

    <button type="submit">Login</button>
</form>

{% if messages %}
    <ul>
    {% for message in messages %}
        <li>{{ message }}</li>
    {% endfor %}
    </ul>
{% endif %}
<script type="text/javascript">
    {% if messages %}
        {% for message in messages %}
            {% if message == "User not found!" %}
                alert("User not found!");
            {% endif %}
        {% endfor %}
    {% endif %}
</script>

