{% extends 'base.html' %}

{% block content %}
{% comment %} <h2>Patient Profile</h2> {% endcomment %}
<p>Username: {{ user.username }}</p>
<p>Age: {{ user.age }}</p>

{% if patient %}
    {% comment %} <p><strong>Age:</strong> {{ patient.age }}</p> {% endcomment %}
    {% if patient.profile_picture %}
        <img src="{{ patient.profile_picture }}" alt="Profile Picture" width="150">
    {% endif %}
{% comment %} {% else %}
    <p>No profile data found.</p> {% endcomment %}
{% endif %}
{% endblock %}
